<div class="BillsTable">
    <table class="table">
     <tr>
       <th scope="col">Account Id</th> 
       <th scope="col">Status</th>
       <th scope="col">Payee</th>
       <th scope="col">NickName</th>
       <th scope="col">Creation Date</th>
       <th scope="col">Upcoming Payment</th>
       <th scope="col">Recurring Date</th>
       <th scope="col">Payment Amount</th>  
     </tr>    
     <tbody *ngFor="let bills of allBills">
         <tr>
            <td> {{bills.account.id}}</td>
             <td>{{bills.status}}</td>
             <td>{{bills.payee}}</td>
            <td>{{bills.nickName}}</td> 
            <td>{{bills.creationDate}}</td>
            <td>{{bills.upcomingPayment}}</td>
            <td>{{bills.recurringDate}}</td> 
            <td>{{bills.paymentAmount}}</td>
        </tr>
       </tbody>
   </table>
   </div> 